# This file is managed by Ansible, all changes will be lost

[client]
host={{ gitlab_ci_runner_services_mysql_host }}
user={{ gitlab_ci_runner_services_mysql_user }}
password={{ gitlab_ci_runner_services_mysql_password }}

