Source: debops-playbooks
Section: admin
Priority: optional
Maintainer: Rajmund Zawiślak <rajmund.zawislak@gmail.com>
Build-Depends: debhelper (>= 9), pandoc
Standards-Version: 3.9.7
Vcs-Browser: https://github.com/rajmundz/debian-pkg-debops.git
Vcs-Git: https://github.com/rajmundz/debian-pkg-debops.git
Homepage: http://debops.org/

Package: debops-playbooks
Architecture: all
Depends: ${misc:Depends}
Recommends: ansible, debops
Description: Ansible playbooks and roles for Debian servers
 DebOps is a administration framework for setting up remote Debian servers
 which is based on the configuration management system Ansible. For that
 purpose the project features a large collection of several refined Ansible
 scripts (playbooks and roles). With them a multitude of different services
 could be set up on one or a number of remote servers in the same run most
 conveniently. The scripts are written in a modular fashion and could be
 combined differently, as needed.
 .
 This package contains the collection of Ansible playbooks and rules of the
 project. The scripts could be used with Ansible directly, but however, it's
 recommended to use them with the convenience scripts in the package debops.
